.body{
    background-color: #E6E6FA ;
} 
.form-title-body{
    border : 1px grey solid ;
    padding-left : 10px ;
}
.form-title{
    align-items : centre ;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif ;
    font-weight: 400 ;
    font-size: 24pt ;
}
.button-submit{
    float : right ;
    margin-right : 1px ;
    margin-top : 8px ;
}
.form-title-head{
    height: 20px ;
    border-radius: 10px 10px 0px 0px ;
    background-color : #8A2BE2 ;
}
.form{
    margin : 10px 30% 100px 30% ;    
}
*.form-main-info>div{
    border : 1px grey solid ;
}
*.form-main{
    border : 1px grey solid ;
}
*div>div{
    margin-bottom: 10px ;
}