.main-credentials{
    border: 10px black solid ;
}
.main-info{
    border: 10px red solid ;
}
.button-submit{
    float : right ;
    margin-right : 1px ;
    margin-top : 8px ;
}
.main{
    color : #E6E6FA ;
}

.form-title{
    color : #8A2BE2 ;
}